{% extends 'base.html.twig' %}

{% block title %}
	Admin des users
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Administration des users</h1>
		<div class="row gy-4 mt-4">
			{% for user in users %}
				<div class="col-md-3">
					<div class="card">
						<div class="card-body">
							<h2 class="card-title">{{ user.fullName }}</h2>
							<p class="card-text">{{ user.email }}</p>
							<p class="card-text">{{ user.roles|join(', ') }}</p>
							<div class="d-flex flex-wrap justify-content-between mt-3">
								<a href="{{ path('admin.users.update', {id: user.id}) }}" class="btn btn-warning">Modifier</a>
								{% include 'Backend/Users/_deleteForm.html.twig' %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
