{% extends 'base.html.twig' %}

{% block title %}
	Se connecter
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Se connecter</h1>
		<form action="{{ path('app.login') }}" method="post" class="card p-3 w-50 mx-auto">
			{% if error %}
				<div class="alert alert-danger" role="alert">
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</div>
			{% endif %}
			<div class="mb-3">
				<label for="email" class="form-label">Email:</label>
				<input type="email" class="form-control" id="email" name="_username" value="{{ lastUsername }}">
			</div>

			<div class="mb-3">
				<label for="password" class="form-label">Password:</label>
				<input type="password" class="form-control" id="password" name="_password">
			</div>

			{# If you want to control the URL the user is redirected to on success
												<input type="hidden" name="_target_path" value="/account"> #}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<button type="submit" class="btn btn-primary">Se connecter</button>
		</form>
	</section>
{% endblock %}
