{% extends 'base.html.twig' %}

{% block title %}
	Administration des catégories
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Administration des catégories</h1>
		<a href="{{ path('admin.categories.create') }}" class="btn btn-primary my-2">Créer une catégorie</a>
		<div class="row gy-4">
			{% for categorie in categories %}
				<div class="col-md-3">
					<div class="blog-card border-{{ categorie.enable ? 'success' : 'danger' }}">
						<div class="blog-card-content">
							<h2 class="card-title">{{ categorie.name }}</h2>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" id="switch-categorie-{{ categorie.id }}" data-switch-categorie-id="{{ categorie.id }}" {{ categorie.enable ? 'checked' }}/>
								<label class="form-check-label text-{{ categorie.enable ? 'success' : 'danger' }}" for="switch-categorie-{{ categorie.id }}">{{ categorie.enable ? 'Actif' : 'Inactif' }}</label>
							</div>
							<div class="mt-2 d-flex justify-content-between flex-wrap">
								<a href="{{ path('admin.categories.update', {id: categorie.id}) }}" class="btn btn-warning">Modifier</a>
								{% include 'Backend/Categories/_deleteForm.html.twig' %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
