{% extends "base.html.twig" %}

{% block title %}
	Administration des articles
	{{ parent() }}

{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="text-center mt-4">Administration des articles</h1>
		<a href="{{ path('admin.articles.create') }}" class="mt-2 btn btn-primary">Créer un article</a>
		<div class="row mt-2 gy-4">
			{% for article in articles %}
				<div class="col-md-4">
					<div class="card border-{{ article.enable ? 'success' : 'danger' }}">
						<h2 class="card-header">{{ article.title}}</h2>
						<em class="text-muted">{{ article.slug}}</em>
                        <p class="card-text">{{ article.createdAt|format_datetime('full', 'none')}}</p>
                        <p class="card-text">{{ (article.content|slice(0, 150) ~ '...')|sanitize_html }}</p>
                        <p class="card-text fw-bold text-{{ article.enable ? 'success' : 'danger'  }} ">{{ article.enable ? 'Actif' : 'Inactif' }}</p>
						<div class="d-flex mt-2 flex-wrap justify-content-between">
							<a href="{{ path('admin.articles.update', {id: article.id}) }}" class="btn btn-warning">Modifier</a>
							{% include 'Backend/Articles/_deleteForm.html.twig' %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		</section>

	{% endblock %}
