<header class="sticky-top">
	<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('app.home') }}">My First Symfo App</a>
			<button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav me-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link {{ app.request.get('_route') == 'app.home' ? 'text-primary' }}" href="{{ path('app.home') }}" aria-current="page">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ app.request.get('_route') == 'app.articles.index' ? 'text-primary' }}" href="{{ path ('app.articles.index')}}">Articles</a>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto">
					{% if app.user %}
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item me-2">
								<div class="dropdown">
									<button class="btn btn-primary dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Admin
									</button>
									<div class="dropdown-menu" aria-labelledby="triggerId">
										<a class="dropdown-item" href="{{ path('admin.users.index') }}">Users</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="{{ path('admin.articles.index') }}">Articles</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="{{ path('admin.categories.index') }}">Categories</a>
									</div>
								</div>
							</li>
						{% endif %}
						<li class="nav-item">
							<a href="/logout" class="btn btn-danger text-light">Déconnexion</a>
						</li>
					{% else %}
						<li class="nav-item me-2">
							<a href="#" class="btn btn-outline-secondary text-light">Inscription</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app.login') }}" class="btn btn-secondary">Connexion</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>
